/* FONT STYLES SHARED */

body {
    font-family: 'Open Sans', sans-serif;
}

/* HEADER */

.main-header {
    background: rgba(229, 84, 115, 0.10);
    display: flex;
    justify-content: space-between;

}

.title-info-btn {

    margin: 300px;
}

.btn-primary {
    border-radius: 8px;
    background: #E55473;
    padding: 16px 22px;
    color: white;
    border-style: none;
}

/* FIRST MAIN SECTION STARTS */

.my-section {
    text-align: center;
}

.three-flowers {
    display: flex;
    justify-content: center;
    gap: 5px;
    text-align: center;
}


.flower-one {
    border-radius: 300px 300px 0px 0px;
    background: rgba(167, 33, 98, 0.15);
    width: 390px;
    height: 500px;
}

.img-1 {
    width: 300px;
    height: 499px;
}

.pink {
    color: black;
}


.flower-two {
    border-radius: 300px 300px 0px 0px;
    background: rgba(5, 151, 160, 0.15);
    width: 390px;
    height: 500px;
}

.img-2 {
    width: 300px;
    height: 499px;
}

.gerbera {
    color: black;
}


.flower-three {
    border-radius: 300px 300px 0px 0px;
    background: rgba(71, 125, 17, 0.15);
    width: 390px;
    height: 500px;
}

.img-3 {
    width: 300px;
    height: 499px;
}

.yellow {
    color: black;
}

/* SECOND MAIN SECTION */

.my-second-section {
    margin-top: 200PX;
    text-align: center;
    background: rgba(77, 3, 19, 0.1);
    padding: 50px 35px 50px 35px;
    margin: 200px 200px;
}

/* THIRD MAIN SECTION */

.deal {
    background: rgba(229, 84, 115, 0.10);
    display: flex;
    justify-content: space-around;
    text-align: center;
}

.title-info-btn-2 {
    margin: 180px;
}

/* FOURTH MAIN SECTION */

.instagram {
    text-align: center;
    margin: 115px;
}

.instagram-image {
    display: flex;
    justify-content: center;
    gap: 1%;
}

/* FIFTH MAIN SECTION */

.best-deals {
    position: relative;
    background-image: url('../images/Rectangle\ 9.png');
    background-size: contain;
    background-repeat: no-repeat;
    width: auto;
    height: 500px;
    margin: 60px;
    margin-left: 150px;
}

.title-info-btn-3 {
    text-align: center;
    padding: 55px;
}
.input{
    padding: 16px 22px;
    color: white;
    border-style: none;
}

/* THE END */

.the-end{
    background-color: black;
    color: white;
    text-align: center;
    margin-bottom: 20px;
    padding: 40px 10px 40px 10px;
}